<div class="">
    <div class="conatiner contact mt-2 ">
      
            <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3" style="background-color: rgb(44, 62, 80); height: 4px; width: 80px;"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="line ms-3" style="background-color: rgb(44, 62, 80); height: 4px; width: 80px;"></div>
                </div>
            </div>

        <form novalidate="" action="" class="w-50 p-3 mx-auto mt-5">
          
                <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-4 my-1">
                
                <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-4 my-1">
                
                <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-4 my-1">
              
            <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-4 my-1">
                <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button></form>
    </div>
</div>