    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container"><a routerlink="/"
                class="navbar-brand text-white text-uppercase fw-bolder fs-2" href="#/">Start Framework </a><button
             type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarSupportedContent" class="navbar-collapse collapse show" style="">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3"><a
                            routerlinkactive="active rounded-3" routerlink="about"
                            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
                            style="width: fit-content;"  routerLink="/about"  routerLinkActive="activeLink">about</a></li>
                    <li class="nav-item me-3"><a
                            routerlinkactive="active rounded-3" routerlink="portfolio"
                            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
                            style="width: fit-content;"  routerLink="/portfolio" routerLinkActive="activeLink">portfolio</a></li>
                    <li class="nav-item me-3"><a
                            routerlinkactive="active rounded-3" routerlink="contact"
                            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
                            style="width: fit-content;"  routerLink="/contact" routerLinkActive="activeLink">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
